@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-slide-active {
    opacity: 1;
    z-index: 1;
}
.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.7); /* Adjust the scale value as needed */
  transition: transform 0.3s ease-in-out; /* Adjust the transition duration and timing function as needed */
}

.blur-background {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}
